.teamContainer{
    display: flex;
    justify-content: center;
}
.playerContainer{
    width: 60%;
    border-right: 1px solid darkgray;
    margin: 30px;
}
.playerContainer h1{
    margin-bottom: 60px;
}
.squadContainer{
    margin: 30px;
}